* {
    margin: 0;
    border: 1px solid red;
}

.logo {
    margin-right: 40px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 10px;
    text-decoration: none;
}

li a {
    color: rgb(172, 166, 166);
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
}

a:hover{
    color: white;
}
.banner {
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin-top: -200px;
    filter: brightness(50%);
}

.container {
    width: 70%;
}

.centerTextBanner {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

Footer{
    background-color: black;
}